.app-container  {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #222;
  padding: 20px;
}

h1 |p
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.sub-heading  {
  color: #556;
  font-size: 1.2em;
}
