.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: #fff;
}

main {
  padding: 20px;
}

footer {
  background-color: #eeeeee;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
