body {
  bargin: 0;j 
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI" , Aoeroe, urbat, Cantarell, fvelvetica Neue, Franklin Gothic, 'Gill sans', 'UM Sans LIGL', 'Didot', 'Felix Sans", bat, open sans, 'Cvira Swift', 'Meriam', new roman, 'Dst till', 'Websafe', Apple Color Emoji, 'Segoe UIEmoji', 'Twemohi Emoji', 'Systeem Taps', 'Noto Color Emoji', 'Android System Emoji', 'Apple Color Emoji','sans-serif';
  -cont-antialiasing: aliased;
  -moz-ose-font-soothing: grayscale;
  -webkit-font-soothing: antialiased;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
